<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bullseye_android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/bullseye_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bullseye_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialThemeWithActionBar">
        <activity android:name=".activities.CharacterIntroActivity" android:screenOrientation="portrait" android:theme="@style/MaterialThemeWithActionBar" android:label="Characters">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UserDashboardActivity"/>
        </activity>
        <activity
            android:name=".games.turn_based.TurnBasedInstructions"
            android:screenOrientation="portrait"
            android:theme="@style/TurnBasedGameInstructions" />
        <activity
            android:name=".games.turn_based.TurnBasedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TurnBasedGame" />

        <service
            android:name=".notifs.NotificationsService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".notifs.NotificationReceiver"
            android:permission="TODO"
            android:process=":remote">
            <intent-filter>
                <action android:name="intent1" />
                <action android:name="intent2" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.Survey" />
        <activity
            android:name=".games.memory.MemoryInstructionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MemoryInstructions" />
        <activity
            android:name=".games.sorting.SortingInstructionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SortingGame" />
        <activity
            android:name=".activities.AdminForgotPassword"
            android:label="Forgot Password"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".activities.AdminSignInActivity" />
        </activity>
        <activity
            android:name=".games.memory.MemoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MemoryGame" />
        <activity
            android:name=".activities.MoreUsersActivity"
            android:label="All Users"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UsersActivity" />
        </activity>
        <activity
            android:name=".activities.ChangeStringActivity"
            android:label="@string/change_string"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UsersSettingsActivity" />
        </activity>
        <activity
            android:name=".activities.AvatarChooserActivity"
            android:label="Choose an Avatar"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UserSignUpActivity" />
        </activity>
        <activity
            android:name=".activities.UsersSettingsActivity"
            android:label="Settings"
            android:theme="@style/MaterialThemeWithActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UserDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.TransitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transition" />
        <activity
            android:name=".activities.UserDashboardActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeNoActionBar" />
        <activity
            android:name=".activities.StatsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DrawerActivity" />
        <activity
            android:name=".activities.UserSignUpActivity"
            android:label="User Sign Up"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UsersActivity" />
        </activity>
        <activity
            android:name=".activities.AdminSettingsActivity"
            android:label="Admin Settings"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AdminDashboardActivity" />
        </activity>
        <activity
            android:name=".activities.AdminDashboardActivity"
            android:label="Admin Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transition">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AdminSignUpActivity"
            android:label="Admin Sign Up"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar" />
        <activity
            android:name=".activities.AdminSignInActivity"
            android:label="Admin Sign In"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.UsersActivity" />
        </activity>
        <activity
            android:name=".activities.UsersActivity"
            android:label="Users"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialThemeWithActionBar" />
        <activity
            android:name=".games.sorting.SortingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SortingGame" />
    </application>

</manifest>